body {
    background-color: rgb(245, 243, 243);
}
.video{
    outline: none;
    clip-path: inset(0px);
}
#myElement {
    width: 100%;
    height: 100%;
    outline: none;
    margin: auto;
    clip-path: inset(0px);
    max-height: 100%;
    max-width: 100%;
}
#embed {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}