/* Google Font Import - Poppins */
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap" rel="stylesheet');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #000000;
    --sidebar-color: #0f0f0f;
    --primary-color: #171717;
    --primary-color-light: #3e3e3e;
    --toggle-color: #fff;
    --text-color: #ffffff;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.sidebar .text,
.sidebar .icon{
    color: #fff;
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    transform: translateY(21px) translateX(-10px);
    display: flex;
    flex-direction: column;
}
header .image-text .name{
    margin-top: 1px;
    transform: translateY(15px) translateX(-11px);
    font-size: 35px;
    letter-spacing: -2px;
    font-weight: 500;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(18px);
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: #636363;
    color: #d4d4d4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 10px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 14px;
    font-size: 21px;
    font-weight: 400;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: #ffffff;
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: #fff;
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: fixed;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 50px;
    font-weight: 300;
    color: #e0e0e0;
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100%;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}
.home-caption{
    color: #fff;
    padding: 5px 60px;
}
.home-school{
    font-size: 23px;
    font-weight: 400;
    padding: 0px 60px;
    color: #fff;
}
.home-gamename{    
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
    padding: 60px;
}
.home-gamename a{
    text-decoration: solid;
    color: #fff;
}
.home-caption{
    color: #fff;
    padding: 5px 60px;
}
.home-school{
    font-size: 23px;
    font-weight: 400;
    padding: 0px 60px;
    color: #fff;
}
.home-gamename{    
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
    padding: 60px;
}
.home-gamename a{
    text-decoration: solid;
    color: #fff;
}
body {
    background: #000000;
    padding: 0;
    margin-left: 15px;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    color: #3e3e3e;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(112, 112, 112, 0.441); 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #7e7e7e; 
  }
  .channels{
    position: relative;
    scroll-behavior: smooth;
  }
  .channels .row h1{
    position: relative;
    font-size: 40px;
    margin-left: 145px;
    color: #fff;
  }
  .videoembed {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
  }
  .home .content{
    position: absolute;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    transform: translateY(20px);
    padding: 65px;
    font-size: 30px;
    background: linear-gradient(transparent, rgb(0, 0, 0));
  }
  .home .content img{
    transform: translateY(6px);
  }
  .home .content button{
    padding: 7px;
    transform: translateX(5px) translateY(-3px);
    width: 160px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    border: #ffffff00;
    cursor: pointer;
  }
  .channels .column img{
    transform: translateX(50%);
    padding: 9px;
    height: 273px;
  }
  .channels .banner{
    background-image: url("images/gradient.jpg");
    height: 70px;
    width: 100%;
  }
  .channels button{
    position: relative;
    cursor: pointer;
    margin-left: 485px;
    font-size: 20px;
    font-weight: 400;
    transform: translateY(-16px);
    border-radius: 5px;
    height: 33px;
    width: 205px;
    border: none;
  }
  .channels h2{
    color: #fff;
    transform: translateY(15px);
    font-weight: 400;
    margin-left: 140px;
  }

@media screen and (max-width: 600px) {
    .sidebar.close{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .home .content{
        padding: 10x;
        text-align: center;
    }
    .sidebar.close ~ .home{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .home{
        display: none;
    }
    .mobile{
        position: absolute;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 80px;
    }
    .mobile .message{
        color: #fff;
    }
    .mobile .message h1{
        font-size: 35px;
    }
    .mobile .message h2{
        font-size: 28px;
        font-weight: 500;
    }
    .mobile .message h3{
        margin-top: 10px;
        font-size: 20px;
        font-weight: 300;
    }
    .mobile .message h4{
        margin-top: 50px;
        font-size: 20px;
        margin-left: 50px;
        margin-right: 50px;
        font-weight: 400;
    }
    .mobile .message button{
        margin-top: 20px;
        cursor: pointer;
        color: #000000;
        font-size: 20px;
        border: none;
        border-radius: 8px;
        width: 190px;
        height: 35px;
    }
    .home .extra-text a{
        color: #ffffff;
    }
}
